<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>自动生成评论系统</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./lib/element-ui/index.css">
    <link rel="stylesheet" href="./css/phone.css">
</head>

<body>
    <div id="app">
        <el-form ref="form" label-width="80px" :model="formData" size="small">
            <el-card header="基础信息">
                <el-row>
                    <el-col v-bind="colBindAttribute">
                        <el-form-item label="上传图片" prop="files" ref="files-item" :rules="requiredRule('上传图片')">
                            <c-upload v-model="formData.files" list-type="picture" :accept="fileAccept" v-bind="$attrs" v-on="$listeners" @change="uploadClearVali('files-item')"
                            />
                        </el-form-item>
                        <el-form-item label="地区" prop="areaCH" :rules="requiredRule('请输入地区')">
                            <el-input v-model="formData.areaCH" placeholder="请输入地区"></el-input>
                        </el-form-item>
                        <el-form-item label="看过人次" prop="numberOfSeen" :rules="requiredRule('请输入人次')">
                            <el-input type="number" v-model="formData.numberOfSeen" placeholder="请输入人次" class="input-with-select">
                                <el-select v-model="formData.numberOfSeenUnit" slot="append" placeholder="请选择">
                                    <el-option label="无单位" value=""></el-option>
                                    <el-option label="万" value="万"></el-option>
                                    <el-option label="亿" value="亿"></el-option>
                                </el-select>
                            </el-input>
                        </el-form-item>
                        <el-form-item label="总评论数" prop="commentNum" :rules="requiredRule('请输入评论数')">
                            <el-input type="number" v-model="formData.commentNum" placeholder="请输入评论数"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-card>
            <el-card header="" v-for="(item, key) in formData.commentList" :key="key">
                <div slot="header" class="clearfix">
                    <span>一级评论</span>
                    <el-button class="text-btn-del" type="text" v-if="formData.commentList.length > 1" @click="delComment({key:key})">删除
                        <i class="el-icon-delete"></i>
                    </el-button>
                </div>
                <el-row>
                    <el-col v-bind="colBindAttribute">
                        <el-form-item label="上传图片" :ref="`form-upload-${key}`" :prop="`commentList[${key}].files`" :rules="requiredRule('请上传头像')">
                            <c-upload v-model="item.files" list-type="picture-card" :accept="fileAccept" @change="uploadClearVali(`form-upload-${key}`)"
                            />
                        </el-form-item>
                        <el-form-item label="地区" :prop="`commentList[${key}].areaCH`" :rules="requiredRule('请输入地区')">
                            <el-input v-model="item.areaCH" maxlength="3" placeholder="请输入地区"></el-input>
                        </el-form-item>
                        <el-form-item label="昵称" :prop="`commentList[${key}].name`" :rules="requiredRule('请输入昵称')">
                            <el-input v-model="item.name" maxlength="20" placeholder="请输入昵称"></el-input>
                        </el-form-item>
                        <el-form-item label="时间" :prop="`commentList[${key}].time`" :rules="requiredRule('请输入评论时间')">
                            <el-input v-model="item.time" placeholder="请输入评论时间"></el-input>
                            </el-date-picker>
                        </el-form-item>
                        <el-form-item label="内容" :prop="`commentList[${key}].content`" :rules="requiredRule('请输入评论内容')">
                            <el-input type="textarea" v-model="item.content" placeholder="请输入评论内容" :autosize="{ minRows: 2, maxRows: 4}"></el-input>
                        </el-form-item>
                        <el-form-item label="是否作者" required>
                            <el-radio-group v-model="item.isAuthor">
                                <el-radio :label="false">否</el-radio>
                                <el-radio :label="true">是</el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="是否被赞" required>
                            <el-radio-group v-model="item.isLikes">
                                <el-radio :label="false">否</el-radio>
                                <el-radio :label="true">是</el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="点赞数" :prop="`commentList[${key}].likesNum`" :rules="requiredRule('请输入点赞数')">
                            <el-input type="number" v-model="item.likesNum" placeholder="请输入点赞数"></el-input>
                        </el-form-item>
                        <el-form-item label="点踩数" :prop="`commentList[${key}].noLikesNum`" :rules="requiredRule('请输入点踩数')">
                            <el-input type="number" v-model="item.noLikesNum" placeholder="请输入点踩数"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col v-bind="col2BindAttribute" :push="2">
                        <el-card v-for="(iitem, kkey) in item.child" :key="`${key}${kkey}`">
                            <div slot="header" class="clearfix">
                                <span>二级评论</span>
                                <el-button class="text-btn-del" type="text" @click="delComment({key:key, kkey:kkey})">删除
                                    <i class="el-icon-delete"></i>
                                </el-button>
                            </div>
                            <el-form-item label="头像" :ref="`form-upload-${key}${kkey}`" :prop="`commentList[${key}].child[${kkey}].files`" :rules="requiredRule('请上传头像')">
                                <c-upload v-model="iitem.files" list-type="picture-card" :accept="fileAccept" @change="uploadClearVali(`form-upload-${key}${kkey}`)"
                                />
                            </el-form-item>
                            <el-form-item label="地区" :prop="`commentList[${key}].child[${kkey}].areaCH`" :rules="requiredRule('请输入地区')">
                                <el-input v-model="iitem.areaCH" maxlength="3" placeholder="请输入地区"></el-input>
                            </el-form-item>
                            <el-form-item label="昵称" :prop="`commentList[${key}].child[${kkey}].name`" :rules="requiredRule('请输入昵称')">
                                <el-input v-model="iitem.name" maxlength="20" placeholder="请输入昵称"></el-input>
                            </el-form-item>
                            <el-form-item label="时间" :prop="`commentList[${key}].child[${kkey}].time`" :rules="requiredRule('请输入评论时间')">
                                <el-input v-model="iitem.time" placeholder="请输入发布时间"></el-input>
                                </el-date-picker>
                            </el-form-item>
                            <el-form-item label="内容" :prop="`commentList[${key}].child[${kkey}].content`" :rules="requiredRule('请输入评论内容')">
                                <el-input type="textarea" v-model="iitem.content" placeholder="请输入评论内容" :autosize="{ minRows: 2, maxRows: 4}"></el-input>
                            </el-form-item>
                            <el-form-item label="被回昵称" v-show="!iitem.isAuthor">
                                <el-input v-model="iitem.replyNickname" maxlength="20" placeholder="请输入被回复用户昵称"></el-input>
                            </el-form-item>
                            <el-form-item label="是否作者" required>
                                <el-radio-group v-model="iitem.isAuthor">
                                    <el-radio :label="false">否</el-radio>
                                    <el-radio :label="true">是</el-radio>
                                </el-radio-group>
                            </el-form-item>
                            <el-form-item label="是否被赞" required>
                                <el-radio-group v-model="iitem.isLikes">
                                    <el-radio :label="false">否</el-radio>
                                    <el-radio :label="true">是</el-radio>
                                </el-radio-group>
                            </el-form-item>
                            <el-form-item label="点赞数" :prop="`commentList[${key}].child[${kkey}].likesNum`" :rules="requiredRule('请输入点赞数')">
                                <el-input type="number" v-model="iitem.likesNum" placeholder="请输入点赞数"></el-input>
                            </el-form-item>
                            <el-form-item label="点踩数" :prop="`commentList[${key}].child[${kkey}].noLikesNum`" :rules="requiredRule('请输入点踩数')">
                                <el-input type="number" v-model="iitem.noLikesNum" placeholder="请输入点踩数"></el-input>
                            </el-form-item>
                        </el-card>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col>
                        <el-form-item class="add-comment-form-item">
                            <el-button type="primary" @click="createComment({key:key})">
                                增加二级评论
                                <i class="el-icon-plus"></i>
                            </el-button>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-card>
            <el-form-item class="add-comment-form-item">
                <el-button type="primary" @click="createComment()">增加一级评论
                    <i class="el-icon-plus"></i>
                </el-button>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click.prevent="onSubmit">提交</el-button>
            </el-form-item>
        </el-form>

        <c-crateshot ref="c-crateshot" />
    </div>
    <script src="./js/AWE2342da.js"></script>
    <script src="./lib/vue/vue.min.js"></script>
    <!-- 引入组件库 -->
    <script src="./lib/element-ui/index.js"></script>
    <script src="./js/components/c-upload.js"></script>
    <script src="./js/components/c-crateshot.js"></script>
    <script src="./lib/html2canvas/html2canvas.min.js" async></script>
    <script>
        const isArray = function (e) {
            return Object.prototype.toString.call(e).toLocaleLowerCase().indexOf('array') > 0
        }
        const triggerType = {
            blur: 'blur',
            change: 'change',
            all: ['blur', 'change']
        }
        new Vue({
            el: '#app',
            data() {
                return {
                    colBindAttribute: {
                        sl: 8,
                        lg: 8,
                        md: 24
                    },
                    col2BindAttribute: {
                        sl: 16,
                        lg: 16,
                        md: 18,
                        sm: 22,
                        xs: 22
                    },
                    fileAccept: '.jpg,.png,jpeg', // 文件上传格式
                    formData: {
                        files: [],
                        areaCH: '',
                        numberOfSeen: '',
                        numberOfSeenUnit: '', // 看过人次的单位
                        commentNum: '', // 评论数
                        releaseTime: '', // 发布时间
                        commentList: [{
                            files: [],
                            areaCH: '',
                            name: '',
                            time: '',
                            content: '',
                            likesNum: '0',
                            noLikesNum: '0',
                            isAuthor: false,
                            isLikes: false,
                            child: []
                        }],
                    },
                }
            },
            created() {
                // this.createComment();
            },
            computed: {
                requiredRule() {
                    return function (label) {
                        return [{
                            required: true,
                            message: label,
                            trigger: triggerType.all
                        }]
                    }
                }
            },
            methods: {
                uploadClearVali(e) {
                    const domRef = this.$refs[e];
                    if (isArray(domRef)) {
                        this.$refs[e][0].clearValidate()
                    } else {
                        this.$refs[e].clearValidate()
                    }
                },
                delComment(params = {
                    key: undefined,
                    kkey: undefined,
                }) {
                    if (isNaN(params.key)) return;
                    console.log(isNaN(params.kkey), params.kkey)
                    if (isNaN(params.kkey)) {
                        this.formData.commentList.splice(params.key, 1)
                    } else {
                        this.formData.commentList[params.key].child.splice(params.kkey, 1)
                    }
                },
                createComment(params = {
                    key: undefined
                }) {
                    let item = {
                        files: [],
                        areaCH: '',
                        name: '',
                        time: '',
                        content: '',
                        likesNum: '0',
                        noLikesNum: '0',
                        isAuthor: false,
                        isLikes: false
                    }
                    if (!isNaN(params.key)) {
                        item['replyNickname'] = ''
                        this.formData.commentList[params.key].child.push(item)
                    } else {
                        item['child'] = []
                        this.formData.commentList.push(item)
                    }
                },
                onSubmit() {
                    this.$refs['form'].validate((valid) => {
                        if (valid) {
                            console.log('submit!', JSON.stringify(this.formData));
                            console.log(this.$refs['c-crateshot'].generateShot(this.formData))
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                }
            }
        })
    </script>
</body>

</html>